<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.org>
      <add key="Username" value="Ipfsbuildagent_Admin@cargill.com" />      
      <add key="ClearTextPassword" value="tjmtpdnjhd4ciahzml4q3nohoziyjabk2l6t2267wytekytpnqga" />
    </nuget.org>
  </packageSourceCredentials>
</configuration>