<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\Dlls\Packages" />
  </config>
  <packageSources>
    <add key="Infragistics-Local" value="https://pkgs.dev.azure.com/Cargill-CargillGlobal/907c03e9-c5ba-4b7c-990e-cb593ee9c45b/_packaging/Infragistics-Local/nuget/v3/index.json" /> 
    <add key="Stratos-Core" value="https://pkgs.dev.azure.com/Cargill-CargillGlobal/907c03e9-c5ba-4b7c-990e-cb593ee9c45b/_packaging/Stratos-Core/nuget/v3/index.json" /> 
  </packageSources>
  <packageSourceCredentials>
    <Stratos-Core>
      <add key="Username" value="Ipfsbuildagent_Admin@cargill.com" />      
      <add key="ClearTextPassword" value="tjmtpdnjhd4ciahzml4q3nohoziyjabk2l6t2267wytekytpnqga" />
    </Stratos-Core>
    <Infragistics-Local>
      <add key="Username" value="Ipfsbuildagent_Admin@cargill.com" />      
      <add key="ClearTextPassword" value="tjmtpdnjhd4ciahzml4q3nohoziyjabk2l6t2267wytekytpnqga" />
    </Infragistics-Local>
  </packageSourceCredentials>
</configuration>